.footer {
  background: $primary500;
  width: 100vw;

  .footer-container {
    max-width: 1170px;
    margin: auto;
    text-align: center;
    padding: 1rem 1rem;

    .first-column,
    .third-column {
      color: $neutral100;
      font-size: 0.75rem;
      .p1 {
        margin-bottom: 0.25rem;
      }
    }

    .social-icons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;

      .social-icon {
        color: $neutral100;
        font-size: 1.25rem;

        &:hover {
          color: $primary200;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    .footer-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 2rem;

      .social-icons {
        gap: 2rem;

        .social-icon {
          font-size: 2rem;
        }
      }

      .first-column,
      .third-column {
        font-size: 1rem;
      }
    }
  }
}
