.mobile-home-container {
  margin: 5rem auto 0 auto;
  padding: 0 2rem;
  max-width: 1170px;
}

.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;

  h2 {
    font-weight: 800;
  }
}

.card {
  // added max-width
  // not sure yet if necessary
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.75rem 1.25rem;
  border: 1px solid $neutral150;
  background: $white;
  box-shadow: $drop-shadow;
  border-radius: $radius;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
  transition: $transition;

  &:hover {
    background: $primary100;
  }
}

.first-column {
  .product-name {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.75rem;

    img {
      width: 32px;
      border: 1px solid $neutral100;
      border-radius: 50%;
    }
  }

  .product-prices {
    display: flex;
    gap: 1rem;

    .price-difference {
      font-weight: 700;
    }
  }
}

.card-1 .product-prices .price-difference {
  color: $danger500;
}

.card-2 .product-prices .price-difference {
  color: $success500;
}

.card-3 .product-prices .price-difference {
  color: $success500;
}

.second-column {
  font-size: 1rem;
  background: transparent;
  color: $neutral800;
  cursor: pointer;
}

.button-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.desktop-home-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .mobile-home-container {
    display: none;
  }

  .desktop-home-container {
    display: block;
    margin: 5rem auto 0 auto;
    padding: 0 2rem;
    max-width: 1170px;

    h2 {
      font-weight: 800;
      margin-bottom: 1.5rem;
    }
  }

  table {
    border-collapse: collapse;
    box-shadow: $drop-shadow;

    tr {
      th {
        color: $neutral600;
        padding: 0.5rem 1rem;
      }

      .column-heading {
        display: flex;
        justify-content: space-between;
      }

      td {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        img {
          display: block;
          height: 32px;
          width: 32px;
          border: 1px solid $neutral100;
          border-radius: 50%;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .name-of-product {
        padding-left: 1rem;
      }

      .table-content-center {
        text-align: center;
      }

      .price-difference-red {
        color: $danger500;
        font-weight: 700;
      }

      .price-difference-green {
        color: $success500;
        font-weight: 700;
      }
    }
  }
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
}
