.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $neutral100;
  z-index: 2;
  box-shadow: $drop-shadow;

  .nav-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    margin: 0 auto;
    // padding: 0.5rem 0;

    // Nav Header
    .nav-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 2rem;
      padding-right: 2rem;
      height: 52px;

      .nav-logo {
        display: block;
        height: 40px;
        width: 40px;
        cursor: pointer;
      }

      .nav-toggle {
        font-size: 1.5rem;
        border: transparent;
        background: transparent;
        color: $primary500;
        cursor: pointer;
        transition: $transition;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    // links - second part of navbar
    .nav-links {
      text-align: center;
      list-style-type: none;
      text-transform: uppercase;
      width: 100%;
      // mobile menu
      display: none;

      .nav-link {
        display: block;
        color: $primary500;
        letter-spacing: 3.5px;
        font-size: 1.25rem;
        background: $neutral100;
        cursor: pointer;
        transition: $transition;
        color: $neutral800;

        &:hover {
          background: $primary100;
          color: $primary500;
        }
      }
    }

    // Log in - third part of the navbar
    .log-in-icon {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    .nav-center {
      display: flex;
      align-items: center;
      padding-left: 2rem;
      padding-right: 2rem;

      // to stop display flex on nav header
      .nav-header {
        width: auto;
        padding-left: 0;
        padding-right: 0;

        // hide burger menu button
        .nav-toggle {
          display: none;
        }
      }

      .nav-links {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;

        .link-4 {
          display: none;
        }

        .link-5 {
          display: none;
        }

        li {
          list-style-type: none;
          position: relative;

          // hover effect with underline
          &:hover .nav-link {
            color: $primary500;
            transition: all 0.1s linear;
            background: $neutral100;
          }

          &:hover .underline {
            transition: all 0.1s linear;
            opacity: 1;
          }

          .nav-link {
            display: block;
            padding: 1rem 1.5rem;
            width: auto;
            text-transform: uppercase;
            font-weight: 700;
            color: $neutral600;
            cursor: pointer;
            font-size: 1rem;
            transition: $transition;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: 1px;
          }

          .underline {
            position: absolute;
            top: 50px;
            left: 0;
            height: 2px;
            width: 100%;
            background: $primary500;
            opacity: 0;
          }
        }
      }

      .log-in-icon {
        display: block;
        height: 40px;
        width: 40px;
        cursor: pointer;
      }
    }
  }
}
