.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $neutral100;
  z-index: 2;
  box-shadow: $drop-shadow;

  .nav-center {
    width: 100%;
    height: 60px;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;

    // Nav Header
    .nav-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-content: center;

      .nav-logo {
        display: block;
        height: 40px;
        width: 40px;
        cursor: pointer;
      }

      .nav-toggle {
        font-size: 1.5rem;
        border: transparent;
        background: transparent;
        color: $primary500;
        cursor: pointer;
        transition: $transition;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    // links - second part of navbar
    .nav-links {
      display: none;
    }

    // Log in - third part of the navbar
    .log-in-icon {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    .nav-center {
      // to stop display flex on nav header
      .nav-header {
        width: auto;

        // hide burger menu button
        .nav-toggle {
          display: none;
        }
      }

      .nav-links {
        display: flex;

        li {
          list-style-type: none;
          position: relative;

          // hover effect with underline
          &:hover a {
            color: $primary500;
            transition: all 0.1s linear;
          }

          &:hover .underline {
            transition: all 0.1s linear;
            opacity: 1;
          }

          .nav-link {
            display: block;
            padding: 1rem 1.5rem;
            width: auto;
            text-transform: uppercase;
            font-weight: 700;
            color: $neutral600;
            cursor: pointer;
            font-size: 1rem;
            transition: $transition;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .underline {
            position: absolute;
            top: 54px;
            left: 0;
            height: 2px;
            width: 100%;
            background: $primary500;
            opacity: 0;
          }
        }
      }

      .log-in-icon {
        display: block;
        height: 40px;
        width: 40px;
        cursor: pointer;
      }
    }
  }
}
