.mobile-produit-container {
  margin: 5rem auto 0 auto;
  height: calc(100vh - 52px - 141px);
  padding: 0 2rem;
  max-width: 1170px;
}

.search-bar {
  margin: 0 auto 2rem auto;
  display: flex;
  gap: 1rem;
  align-items: center;
  background: $white;
  border-radius: $radius;
  padding: 0.5rem 1.25rem;
  color: $neutral600;
  box-shadow: $drop-shadow;
  max-width: 550px;

  p {
    font-size: 0.75rem;
  }
}

.card {
  // added max-width
  // not sure yet if necessary
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.75rem 1.25rem;
  border: 1px solid $neutral150;
  background: $white;
  box-shadow: $drop-shadow;
  border-radius: $radius;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
  transition: $transition;

  &:hover {
    background: $primary100;
  }
}

.first-column {
  .product-name {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.75rem;

    img {
      width: 32px;
      border: 1px solid $neutral100;
      border-radius: 50%;
    }
  }

  .product-prices {
    display: flex;
    gap: 1rem;

    .price-difference {
      font-weight: 700;
    }
  }
}

.card-1 .product-prices .price-difference {
  color: $danger500;
}

.card-2 .product-prices .price-difference {
  color: $success500;
}

.card-3 .product-prices .price-difference {
  color: $success500;
}

.second-column {
  font-size: 1rem;
  background: transparent;
  color: $neutral800;
  cursor: pointer;
}

.desktop-produit-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .mobile-produit-container {
    display: none;
  }

  .desktop-produit-container {
    display: block;
    margin: 5rem auto 0 auto;
    padding: 0 2rem;
    height: calc(100vh - 52px - 141px);
    max-width: 1170px;

    h2 {
      font-weight: 800;
      margin-bottom: 1.5rem;
    }

    .product-filter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.5rem;

      .search-icon {
        height: 33px;
        width: 33px;
        border-radius: $radius;
        border: 1px solid $neutral200;
        background: $white;
        position: relative;
        transition: $transition;
        cursor: pointer;

        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &:hover {
          background: $neutral100;
        }

        &:active {
          background: $neutral150;
        }
      }

      .filter-components {
        display: flex;
        align-items: center;
        gap: 1rem;

        .page-changer {
          display: flex;
          gap: 0.5rem;
          padding: 0.42rem;
          background: $white;
          border-radius: $radius;
          border: 1px solid $neutral200;
          transition: $transition;
          cursor: pointer;

          &:hover {
            background: $neutral100;
          }

          &:active {
            background: $neutral150;
          }
        }

        p {
          color: $neutral600;
          font-size: 0.75rem;
        }
      }
    }
  }

  .pages-container {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: $neutral700;

    .carousel-left,
    .carousel-right {
      height: 33px;
      width: 33px;
      border-radius: $radius;
      position: relative;
      cursor: pointer;
      transition: $transition;

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        background: $white;
        box-shadow: $drop-shadow;
      }

      &:active {
        color: $primary500;
        font-weight: 700;
      }
    }

    .page-number {
      height: 33px;
      width: 33px;
      border-radius: $radius;
      position: relative;
      cursor: pointer;
      transition: $transition;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        background: $white;
        box-shadow: $drop-shadow;
      }

      &:active {
        color: $primary500;
        font-weight: 700;
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: $drop-shadow;
    margin-bottom: 2rem;
    background: $white;

    colgroup {
      .column1 {
        width: 45%;
      }
      .column2 {
        width: 15%;
      }
      .column3 {
        width: 15%;
      }
      .column4 {
        width: 15%;
      }
      .column5 {
        width: 10%;
      }
    }

    // first row
    tr {
      th {
        background: $neutral200;
        color: $neutral600;
        padding: 0.5rem 1rem;
        border: transparent;
        border-bottom: 1px solid $neutral200;
      }

      .column-heading {
        display: flex;
        justify-content: space-between;
      }
    }

    // all other rows of the table
    tr {
      td {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border: transparent;
        border-bottom: 1px solid $neutral200;

        .shop-logo {
          display: block;
          height: 32px;
          width: 32px;
          border: 1px solid $neutral100;
          border-radius: 50%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  // specific styles with class names
  table {
    tr {
      // first column padding
      .product-name {
        padding-left: 1rem;
      }
      // center the content of the table
      .table-content-center {
        text-align: center;
      }
      // progression - red color
      .price-difference-red {
        color: $danger500;
        font-weight: 700;
      }
      // progression - green color
      .price-difference-green {
        color: $success500;
        font-weight: 700;
      }
    }
  }

  // keep the lower breakets to close media queries
}
