// colors

// neutrals - checked
$white: #ffffff;
$neutral100: #f7f7f7;
$neutral150: #ededed;
$neutral200: #e0e0e0;
$neutral300: #c7c7c7;
$neutral400: #afafaf;
$neutral500: #9b9b9b;
$neutral600: #777777;
$neutral700: #5a5a5a;
$neutral800: #404040;
$neutral900: #2b2b2b;
$neutral1000: #1f1f1f;
$black: #000000;

// primary colors -cheked
$primary100: #c8fbe3;
$primary200: #94f7d1;
$primary500: #00af9c;
$primary600: #009693;
$primary700: #00747d;

// danger -cheked
$danger700: #961744;
$danger600: #b32147;
$danger500: #d12e49;
$danger200: #fab5ac;
$danger100: #fcddd5;

// success -cheked
$success700: #437a0b;
$success600: #579210;
$success500: #6daa17;
$success200: #ddf6a1;
$success100: #f0facf;

// other variables
$ff-primary: "Roboto", sans-serif;
$transition: all 0.3s linear;
$spacing: 0.25rem;
$radius: 0.25rem;
$drop-shadow: 0px 1px 4px rgba(33, 33, 52, 0.1);

$light-shadow: 0 5px 15px rgba(85, 85, 85, 0.1);
$dark-shadow: 0 5px 15px rgba(31, 31, 31, 0.2);
