@import "variables";
@import "navbar";
@import "buttons";
@import "footer";
@import "home";
@import "produits";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
img:not(.nav-logo) {
  display: block;
}

body {
  font-family: $ff-primary;
  background: $neutral100;
  color: $neutral800;
  line-height: 1.25;
  font-size: 0.875rem;
}

ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  line-height: 1.25;
}

.button-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
